{% extends "base.html" %}

{% block title %} Profile - {{user}} {% endblock %}

{% block maincontent %}
  <section class="container py-5">
    <div class="row">
      <div class="col-6">
        <div class="list-group">
          <a href="{% url 'user-profile' %}" class="list-group-item list-group-item-action active" aria-current="true">
            Profile Detail
          </a>
          <a href="" class="list-group-item list-group-item-action">All Orders</a>
          <a href="{% url 'user-update' user.id %}" class="list-group-item list-group-item-action">Update profile</a>
          <a href="{% url 'user-password-update' %}" class="list-group-item list-group-item-action">Change password</a>
          <a href="{% url 'user-logout' %}" class="list-group-item list-group-item-action">Logout</a>
        </div>
      </div>
      <div class="col-6">
        <div class="card mb-3">
          <div class="row">
            <div class="col-4">
              <img src="https://cdn.vectorstock.com/i/1000v/26/40/profile-placeholder-image-gray-silhouette-vector-22122640.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">Name: {{user.first_name}} {{user.last_name}}</h5>
                <p class="card-text">Email: {{user.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}